@keyframes rotates{
    0%{ transform: rotate3d(0,0,0,0); }
    20%{ transform: rotate3d(0,1,0,20deg); }
    40%{ transform: rotate3d(0,1,0,40deg); }
    60%{ transform: rotate3d(0,1,0,60deg); }
    90%{ transform: rotate3d(0,1,0,90deg); }
}

@keyframes rotatesInvert{
    0%{ transform: rotate3d(0,0,0,0); }
    20%{ transform: rotate3d(1,0,0,20deg); }
    40%{ transform: rotate3d(1,0,0,40deg); }
    60%{ transform: rotate3d(1,0,0,60deg); }
    90%{ transform: rotate3d(0,0,0,90deg); }
}