@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  overflow-x: hidden;
  font-family: 'Asap', sans-serif;
}
#menu{
  z-index: 99;
  background-color: #FFF;
  width: 100%;
  position: fixed;
  height: 6vh;
  margin-top: 0vh;
  margin-left: -2vh;
  top: 0;
}

#menu  li{
  float: left;
  padding-left: 10vh;
  list-style: none;
  color: #0391e4;
  margin-top: 1vh;
  font-size: 3vh;
  text-align: center;
  font-family: 'Asap', sans-serif;
}

/*Component Banner*/
.banner{
  margin-top: 4vh;
  background-color: blueviolet;
  position: absolute;
  width: 100%;
  right: 0;
  height: 50vh;
}
.textBanner{
  float: left;
  margin-left: 10vh;
  margin-top: 20vh;
  color: #FFF;
}
.btbanner{
  background-color: #0391e4;
}

/*Pagina principal*/
.articlesCreated{
  width: 170vh;
  height: 40vh;
  background-color: #0391e4;
  margin-top: 4vh;
  margin-left: 16vh;
}
.gridColuns{
  position: absolute;
  margin-top: 60vh;
  display: flex;
  flex-direction: column;
}